<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18015588026-icdsf3gusq2hn81mh1m8fe7a2blad3ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18015588026-icdsf3gusq2hn81mh1m8fe7a2blad3ca</string>
	<key>API_KEY</key>
	<string>AIzaSyBoIQdWD0vu2aIlSTuMig50EDI90DNepqw</string>
	<key>GCM_SENDER_ID</key>
	<string>18015588026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padc.firebase.auth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-2de33</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-2de33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18015588026:ios:60cdf2b40384213c883c83</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-2de33.firebaseio.com</string>
</dict>
</plist>